<html>
    <%- include('./partials/head.ejs') %>

</html>
    <%- include('./partials/nav.ejs') %>

    <div class="details content">
        <h2><%= blog.title%></h2>
        <div class="content">
            <p><%= blog.body%></p>
        </div>
        <a class="delete" data-doc="<%= blog.id%>">Delete</a>
    </div>

    <%- include ('./partials/footer.ejs') %>

    <script>
        const deleteBtn = document.querySelector('.delete');

        deleteBtn.addEventListener('click', (e) => {
            const id = e.target.getAttribute('data-doc');
            fetch(`/blogs/${id}`, {
                method: 'DELETE'
            }).then(res => res.json())
            .then(data => {
                // window.location.replace('/'); or
                window.location.href = data.redirect; // receives data from server with key redirect sending it to the home page
            }).catch(err => {
                console.log(err);
            })
        })
    </script>
</body>
</html>
